name: ci-deploy
on:
  workflow_dispatch: {}
  push:
    branches:
      - main
      - master
    paths-ignore:
      - '.gitignore'
      - 'LICENSE'
      - 'README.md'
  pull_request:
    branches:
      - main
      - master
    paths-ignore:
      - '.gitignore'
      - 'LICENSE'
      - 'README.md'  
jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v6
        with:
          node-version: 24.12.0
      - uses: pnpm/action-setup@v4.2.0
        name: Install pnpm
        id: pnpm-install
        with:
          version: 10.26.2
      - name: Install dependencies
        run: pnpm install --no-frozen-lockfile
      - name: Build
        env:
          NODE_OPTIONS: --max_old_space_size=4096      
        run: pnpm build
      - name: Deploy to GitHub Pages
        uses: crazy-max/ghaction-github-pages@v4.2.0
        with:
          target_branch: gh-pages
          build_dir: ./.vitepress/dist
          jekyll: false
        env:
          GH_PAT: ${{ secrets.DEPLOY_GH }}
